--
-- PostgreSQL database dump
--

\restrict I1mRXYI8f30npiPRvjb5hcyg7YESySbcjf6OQ1VaDugS4TTFjTcTBBFNXW3F2o3

-- Dumped from database version 15.15
-- Dumped by pg_dump version 15.15

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;


--
-- Name: EXTENSION "uuid-ossp"; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';


--
-- Name: update_updated_at_column(); Type: FUNCTION; Schema: public; Owner: apsuser
--

CREATE FUNCTION public.update_updated_at_column() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
  NEW.updated_at = CURRENT_TIMESTAMP;
  RETURN NEW;
END;
$$;


ALTER FUNCTION public.update_updated_at_column() OWNER TO apsuser;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: memos; Type: TABLE; Schema: public; Owner: apsuser
--

CREATE TABLE public.memos (
    id integer NOT NULL,
    title character varying(255) NOT NULL,
    content text NOT NULL,
    important boolean DEFAULT false,
    author character varying(255) NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    expire_date date DEFAULT CURRENT_DATE,
    deleted_at timestamp without time zone
);


ALTER TABLE public.memos OWNER TO apsuser;

--
-- Name: TABLE memos; Type: COMMENT; Schema: public; Owner: apsuser
--

COMMENT ON TABLE public.memos IS '? 硫붾え (濡쒖뺄 ?꾩슜)';


--
-- Name: active_memos; Type: VIEW; Schema: public; Owner: apsuser
--

CREATE VIEW public.active_memos AS
 SELECT memos.id,
    memos.title,
    memos.content,
    memos.important,
    memos.author,
    memos.created_at,
    memos.updated_at,
    memos.expire_date,
    memos.deleted_at
   FROM public.memos
  WHERE ((memos.deleted_at IS NULL) AND (memos.expire_date >= CURRENT_DATE))
  ORDER BY memos.created_at DESC;


ALTER TABLE public.active_memos OWNER TO apsuser;

--
-- Name: schedules; Type: TABLE; Schema: public; Owner: apsuser
--

CREATE TABLE public.schedules (
    id integer NOT NULL,
    title character varying(255) NOT NULL,
    "time" character varying(10),
    start_date date NOT NULL,
    end_date date NOT NULL,
    type character varying(20) NOT NULL,
    author character varying(255) NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    deleted_at timestamp without time zone
);


ALTER TABLE public.schedules OWNER TO apsuser;

--
-- Name: TABLE schedules; Type: COMMENT; Schema: public; Owner: apsuser
--

COMMENT ON TABLE public.schedules IS '?쇱젙 (濡쒖뺄 ?꾩슜)';


--
-- Name: active_schedules; Type: VIEW; Schema: public; Owner: apsuser
--

CREATE VIEW public.active_schedules AS
 SELECT schedules.id,
    schedules.title,
    schedules."time",
    schedules.start_date,
    schedules.end_date,
    schedules.type,
    schedules.author,
    schedules.created_at,
    schedules.updated_at,
    schedules.deleted_at
   FROM public.schedules
  WHERE (schedules.deleted_at IS NULL)
  ORDER BY schedules.start_date DESC, schedules."time";


ALTER TABLE public.active_schedules OWNER TO apsuser;

--
-- Name: email_inquiries; Type: TABLE; Schema: public; Owner: apsuser
--

CREATE TABLE public.email_inquiries (
    id character varying(255) NOT NULL,
    subject character varying(500),
    from_email character varying(255) NOT NULL,
    from_name character varying(255),
    body_text text,
    body_html text,
    attachments jsonb,
    received_at timestamp without time zone NOT NULL,
    synced_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    checked boolean DEFAULT false,
    checked_by character varying(255),
    checked_at timestamp without time zone,
    notes text,
    labels jsonb,
    thread_id character varying(255)
);


ALTER TABLE public.email_inquiries OWNER TO apsuser;

--
-- Name: TABLE email_inquiries; Type: COMMENT; Schema: public; Owner: apsuser
--

COMMENT ON TABLE public.email_inquiries IS '?대찓??臾몄쓽 (Gmail API ?대쭅)';


--
-- Name: web_form_inquiries; Type: TABLE; Schema: public; Owner: apsuser
--

CREATE TABLE public.web_form_inquiries (
    id character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    email character varying(255),
    phone character varying(50) NOT NULL,
    consultation_type character varying(100),
    content text NOT NULL,
    preferred_contact character varying(50),
    consent_privacy boolean DEFAULT false,
    created_at timestamp without time zone NOT NULL,
    synced_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    checked boolean DEFAULT false,
    checked_by character varying(255),
    checked_at timestamp without time zone,
    notes text,
    ip_address character varying(45),
    user_agent text
);


ALTER TABLE public.web_form_inquiries OWNER TO apsuser;

--
-- Name: TABLE web_form_inquiries; Type: COMMENT; Schema: public; Owner: apsuser
--

COMMENT ON TABLE public.web_form_inquiries IS '???곷떞??臾몄쓽 (Firestore ?대쭅)';


--
-- Name: all_unchecked_inquiries; Type: VIEW; Schema: public; Owner: apsuser
--

CREATE VIEW public.all_unchecked_inquiries AS
 SELECT 'email'::text AS inquiry_type,
    email_inquiries.id,
    email_inquiries.from_name AS customer_name,
    email_inquiries.from_email AS customer_email,
    NULL::character varying AS phone,
    email_inquiries.subject AS title,
    email_inquiries.body_text AS content,
    email_inquiries.received_at AS inquiry_date,
    email_inquiries.checked,
    email_inquiries.checked_by,
    email_inquiries.checked_at
   FROM public.email_inquiries
  WHERE (email_inquiries.checked = false)
UNION ALL
 SELECT 'web_form'::text AS inquiry_type,
    web_form_inquiries.id,
    web_form_inquiries.name AS customer_name,
    web_form_inquiries.email AS customer_email,
    web_form_inquiries.phone,
    web_form_inquiries.consultation_type AS title,
    web_form_inquiries.content,
    web_form_inquiries.created_at AS inquiry_date,
    web_form_inquiries.checked,
    web_form_inquiries.checked_by,
    web_form_inquiries.checked_at
   FROM public.web_form_inquiries
  WHERE (web_form_inquiries.checked = false)
  ORDER BY 8 DESC;


ALTER TABLE public.all_unchecked_inquiries OWNER TO apsuser;

--
-- Name: memos_id_seq; Type: SEQUENCE; Schema: public; Owner: apsuser
--

CREATE SEQUENCE public.memos_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.memos_id_seq OWNER TO apsuser;

--
-- Name: memos_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: apsuser
--

ALTER SEQUENCE public.memos_id_seq OWNED BY public.memos.id;


--
-- Name: schedules_id_seq; Type: SEQUENCE; Schema: public; Owner: apsuser
--

CREATE SEQUENCE public.schedules_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.schedules_id_seq OWNER TO apsuser;

--
-- Name: schedules_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: apsuser
--

ALTER SEQUENCE public.schedules_id_seq OWNED BY public.schedules.id;


--
-- Name: sync_status; Type: TABLE; Schema: public; Owner: apsuser
--

CREATE TABLE public.sync_status (
    id integer NOT NULL,
    source_type character varying(50) NOT NULL,
    last_sync_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    last_synced_id character varying(255),
    status character varying(50) DEFAULT 'idle'::character varying,
    error_message text,
    synced_count integer DEFAULT 0,
    total_count integer DEFAULT 0
);


ALTER TABLE public.sync_status OWNER TO apsuser;

--
-- Name: TABLE sync_status; Type: COMMENT; Schema: public; Owner: apsuser
--

COMMENT ON TABLE public.sync_status IS '?숆린???곹깭 異붿쟻 (Gmail, Firestore)';


--
-- Name: sync_status_id_seq; Type: SEQUENCE; Schema: public; Owner: apsuser
--

CREATE SEQUENCE public.sync_status_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.sync_status_id_seq OWNER TO apsuser;

--
-- Name: sync_status_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: apsuser
--

ALTER SEQUENCE public.sync_status_id_seq OWNED BY public.sync_status.id;


--
-- Name: unchecked_email_inquiries; Type: VIEW; Schema: public; Owner: apsuser
--

CREATE VIEW public.unchecked_email_inquiries AS
 SELECT email_inquiries.id,
    email_inquiries.subject,
    email_inquiries.from_email,
    email_inquiries.from_name,
    email_inquiries.body_text,
    email_inquiries.body_html,
    email_inquiries.attachments,
    email_inquiries.received_at,
    email_inquiries.synced_at,
    email_inquiries.checked,
    email_inquiries.checked_by,
    email_inquiries.checked_at,
    email_inquiries.notes,
    email_inquiries.labels,
    email_inquiries.thread_id
   FROM public.email_inquiries
  WHERE (email_inquiries.checked = false)
  ORDER BY email_inquiries.received_at DESC;


ALTER TABLE public.unchecked_email_inquiries OWNER TO apsuser;

--
-- Name: unchecked_web_inquiries; Type: VIEW; Schema: public; Owner: apsuser
--

CREATE VIEW public.unchecked_web_inquiries AS
 SELECT web_form_inquiries.id,
    web_form_inquiries.name,
    web_form_inquiries.email,
    web_form_inquiries.phone,
    web_form_inquiries.consultation_type,
    web_form_inquiries.content,
    web_form_inquiries.preferred_contact,
    web_form_inquiries.consent_privacy,
    web_form_inquiries.created_at,
    web_form_inquiries.synced_at,
    web_form_inquiries.checked,
    web_form_inquiries.checked_by,
    web_form_inquiries.checked_at,
    web_form_inquiries.notes,
    web_form_inquiries.ip_address,
    web_form_inquiries.user_agent
   FROM public.web_form_inquiries
  WHERE (web_form_inquiries.checked = false)
  ORDER BY web_form_inquiries.created_at DESC;


ALTER TABLE public.unchecked_web_inquiries OWNER TO apsuser;

--
-- Name: users; Type: TABLE; Schema: public; Owner: apsuser
--

CREATE TABLE public.users (
    email character varying(255) NOT NULL,
    display_name character varying(255),
    provider character varying(50) DEFAULT 'local'::character varying NOT NULL,
    role character varying(50) DEFAULT 'user'::character varying,
    active boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    synced_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    password_hash character varying(255)
);


ALTER TABLE public.users OWNER TO apsuser;

--
-- Name: TABLE users; Type: COMMENT; Schema: public; Owner: apsuser
--

COMMENT ON TABLE public.users IS '?ъ슜???뺣낫 (愿由ъ옄 怨꾩젙)';


--
-- Name: memos id; Type: DEFAULT; Schema: public; Owner: apsuser
--

ALTER TABLE ONLY public.memos ALTER COLUMN id SET DEFAULT nextval('public.memos_id_seq'::regclass);


--
-- Name: schedules id; Type: DEFAULT; Schema: public; Owner: apsuser
--

ALTER TABLE ONLY public.schedules ALTER COLUMN id SET DEFAULT nextval('public.schedules_id_seq'::regclass);


--
-- Name: sync_status id; Type: DEFAULT; Schema: public; Owner: apsuser
--

ALTER TABLE ONLY public.sync_status ALTER COLUMN id SET DEFAULT nextval('public.sync_status_id_seq'::regclass);


--
-- Data for Name: email_inquiries; Type: TABLE DATA; Schema: public; Owner: apsuser
--

COPY public.email_inquiries (id, subject, from_email, from_name, body_text, body_html, attachments, received_at, synced_at, checked, checked_by, checked_at, notes, labels, thread_id) FROM stdin;
\.


--
-- Data for Name: memos; Type: TABLE DATA; Schema: public; Owner: apsuser
--



--
-- Data for Name: schedules; Type: TABLE DATA; Schema: public; Owner: apsuser
--



--
-- Data for Name: sync_status; Type: TABLE DATA; Schema: public; Owner: apsuser
--

COPY public.sync_status (id, source_type, last_sync_at, last_synced_id, status, error_message, synced_count, total_count) FROM stdin;
1	gmail	2025-12-11 04:27:44.928035	\N	idle	\N	0	0
2	web_form_firestore	2025-12-11 04:27:44.928035	\N	idle	\N	0	0
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: apsuser
--

COPY public.users (email, display_name, provider, role, active, created_at, updated_at, synced_at, password_hash) FROM stdin;
nothingjustfake@gmail.com	理쒖듅??local	admin	t	2025-12-15 06:54:29.600098	2025-12-15 06:54:29.600098	2025-12-15 06:54:29.600098	$2b$12$B.HawiyVE7YmZwgWe0lv8.GV6QYVc0MAqNU6ds3x8XLZsgitkf9D2
infra.steve.01@gmail.com	愿由ъ옄2	local	admin	t	2025-12-13 19:43:17.748032	2025-12-15 07:54:06.737092	2025-12-13 19:43:17.748032	$2b$12$k1WyHqddeLzTWJ5sossT.eGdgBIDEjHhNGeo7wZVWk4nDrADSamBK
\.


--
-- Data for Name: web_form_inquiries; Type: TABLE DATA; Schema: public; Owner: apsuser
--

COPY public.web_form_inquiries (id, name, email, phone, consultation_type, content, preferred_contact, consent_privacy, created_at, synced_at, checked, checked_by, checked_at, notes, ip_address, user_agent) FROM stdin;
\.


--
-- Name: memos_id_seq; Type: SEQUENCE SET; Schema: public; Owner: apsuser
--

SELECT pg_catalog.setval('public.memos_id_seq', 54, true);


--
-- Name: schedules_id_seq; Type: SEQUENCE SET; Schema: public; Owner: apsuser
--

SELECT pg_catalog.setval('public.schedules_id_seq', 22, true);


--
-- Name: sync_status_id_seq; Type: SEQUENCE SET; Schema: public; Owner: apsuser
--

SELECT pg_catalog.setval('public.sync_status_id_seq', 2, true);


--
-- Name: email_inquiries email_inquiries_pkey; Type: CONSTRAINT; Schema: public; Owner: apsuser
--

ALTER TABLE ONLY public.email_inquiries
    ADD CONSTRAINT email_inquiries_pkey PRIMARY KEY (id);


--
-- Name: memos memos_pkey; Type: CONSTRAINT; Schema: public; Owner: apsuser
--

ALTER TABLE ONLY public.memos
    ADD CONSTRAINT memos_pkey PRIMARY KEY (id);


--
-- Name: schedules schedules_pkey; Type: CONSTRAINT; Schema: public; Owner: apsuser
--

ALTER TABLE ONLY public.schedules
    ADD CONSTRAINT schedules_pkey PRIMARY KEY (id);


--
-- Name: sync_status sync_status_pkey; Type: CONSTRAINT; Schema: public; Owner: apsuser
--

ALTER TABLE ONLY public.sync_status
    ADD CONSTRAINT sync_status_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: apsuser
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (email);


--
-- Name: web_form_inquiries web_form_inquiries_pkey; Type: CONSTRAINT; Schema: public; Owner: apsuser
--

ALTER TABLE ONLY public.web_form_inquiries
    ADD CONSTRAINT web_form_inquiries_pkey PRIMARY KEY (id);


--
-- Name: idx_email_inquiries_checked; Type: INDEX; Schema: public; Owner: apsuser
--

CREATE INDEX idx_email_inquiries_checked ON public.email_inquiries USING btree (checked);


--
-- Name: idx_email_inquiries_from_email; Type: INDEX; Schema: public; Owner: apsuser
--

CREATE INDEX idx_email_inquiries_from_email ON public.email_inquiries USING btree (from_email);


--
-- Name: idx_email_inquiries_received_at; Type: INDEX; Schema: public; Owner: apsuser
--

CREATE INDEX idx_email_inquiries_received_at ON public.email_inquiries USING btree (received_at DESC);


--
-- Name: idx_email_inquiries_thread_id; Type: INDEX; Schema: public; Owner: apsuser
--

CREATE INDEX idx_email_inquiries_thread_id ON public.email_inquiries USING btree (thread_id);


--
-- Name: idx_memos_author; Type: INDEX; Schema: public; Owner: apsuser
--

CREATE INDEX idx_memos_author ON public.memos USING btree (author);


--
-- Name: idx_memos_created_at; Type: INDEX; Schema: public; Owner: apsuser
--

CREATE INDEX idx_memos_created_at ON public.memos USING btree (created_at DESC);


--
-- Name: idx_memos_deleted_at; Type: INDEX; Schema: public; Owner: apsuser
--

CREATE INDEX idx_memos_deleted_at ON public.memos USING btree (deleted_at);


--
-- Name: idx_memos_expire_date; Type: INDEX; Schema: public; Owner: apsuser
--

CREATE INDEX idx_memos_expire_date ON public.memos USING btree (expire_date);


--
-- Name: idx_memos_important; Type: INDEX; Schema: public; Owner: apsuser
--

CREATE INDEX idx_memos_important ON public.memos USING btree (important);


--
-- Name: idx_memos_search; Type: INDEX; Schema: public; Owner: apsuser
--

CREATE INDEX idx_memos_search ON public.memos USING gin (to_tsvector('simple'::regconfig, (((title)::text || ' '::text) || content)));


--
-- Name: idx_schedules_author; Type: INDEX; Schema: public; Owner: apsuser
--

CREATE INDEX idx_schedules_author ON public.schedules USING btree (author);


--
-- Name: idx_schedules_deleted_at; Type: INDEX; Schema: public; Owner: apsuser
--

CREATE INDEX idx_schedules_deleted_at ON public.schedules USING btree (deleted_at);


--
-- Name: idx_schedules_end_date; Type: INDEX; Schema: public; Owner: apsuser
--

CREATE INDEX idx_schedules_end_date ON public.schedules USING btree (end_date);


--
-- Name: idx_schedules_start_date; Type: INDEX; Schema: public; Owner: apsuser
--

CREATE INDEX idx_schedules_start_date ON public.schedules USING btree (start_date);


--
-- Name: idx_schedules_type; Type: INDEX; Schema: public; Owner: apsuser
--

CREATE INDEX idx_schedules_type ON public.schedules USING btree (type);


--
-- Name: idx_sync_status_source; Type: INDEX; Schema: public; Owner: apsuser
--

CREATE UNIQUE INDEX idx_sync_status_source ON public.sync_status USING btree (source_type);


--
-- Name: idx_users_active; Type: INDEX; Schema: public; Owner: apsuser
--

CREATE INDEX idx_users_active ON public.users USING btree (active);


--
-- Name: idx_users_role; Type: INDEX; Schema: public; Owner: apsuser
--

CREATE INDEX idx_users_role ON public.users USING btree (role);


--
-- Name: idx_web_inquiries_checked; Type: INDEX; Schema: public; Owner: apsuser
--

CREATE INDEX idx_web_inquiries_checked ON public.web_form_inquiries USING btree (checked);


--
-- Name: idx_web_inquiries_created_at; Type: INDEX; Schema: public; Owner: apsuser
--

CREATE INDEX idx_web_inquiries_created_at ON public.web_form_inquiries USING btree (created_at DESC);


--
-- Name: idx_web_inquiries_email; Type: INDEX; Schema: public; Owner: apsuser
--

CREATE INDEX idx_web_inquiries_email ON public.web_form_inquiries USING btree (email);


--
-- Name: idx_web_inquiries_phone; Type: INDEX; Schema: public; Owner: apsuser
--

CREATE INDEX idx_web_inquiries_phone ON public.web_form_inquiries USING btree (phone);


--
-- Name: idx_web_inquiries_type; Type: INDEX; Schema: public; Owner: apsuser
--

CREATE INDEX idx_web_inquiries_type ON public.web_form_inquiries USING btree (consultation_type);


--
-- Name: memos update_memos_updated_at; Type: TRIGGER; Schema: public; Owner: apsuser
--

CREATE TRIGGER update_memos_updated_at BEFORE UPDATE ON public.memos FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: schedules update_schedules_updated_at; Type: TRIGGER; Schema: public; Owner: apsuser
--

CREATE TRIGGER update_schedules_updated_at BEFORE UPDATE ON public.schedules FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: users update_users_updated_at; Type: TRIGGER; Schema: public; Owner: apsuser
--

CREATE TRIGGER update_users_updated_at BEFORE UPDATE ON public.users FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: email_inquiries email_inquiries_checked_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: apsuser
--

ALTER TABLE ONLY public.email_inquiries
    ADD CONSTRAINT email_inquiries_checked_by_fkey FOREIGN KEY (checked_by) REFERENCES public.users(email);


--
-- Name: memos memos_author_fkey; Type: FK CONSTRAINT; Schema: public; Owner: apsuser
--

ALTER TABLE ONLY public.memos
    ADD CONSTRAINT memos_author_fkey FOREIGN KEY (author) REFERENCES public.users(email) ON DELETE CASCADE;


--
-- Name: schedules schedules_author_fkey; Type: FK CONSTRAINT; Schema: public; Owner: apsuser
--

ALTER TABLE ONLY public.schedules
    ADD CONSTRAINT schedules_author_fkey FOREIGN KEY (author) REFERENCES public.users(email) ON DELETE CASCADE;


--
-- Name: web_form_inquiries web_form_inquiries_checked_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: apsuser
--

ALTER TABLE ONLY public.web_form_inquiries
    ADD CONSTRAINT web_form_inquiries_checked_by_fkey FOREIGN KEY (checked_by) REFERENCES public.users(email);


--
-- PostgreSQL database dump complete
--

\unrestrict I1mRXYI8f30npiPRvjb5hcyg7YESySbcjf6OQ1VaDugS4TTFjTcTBBFNXW3F2o3

